.inputContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    width: 35%;
}

.inputTitle {
    font-family: 'Ubuntu Mono';
    font-size: 12px;
    font-weight: 400;
    color: #333333;
    width: 100%;
    margin: 0;
    text-align: left;
}

.inputLabel p {
    text-align: left;
    font-family: 'Noto Sans JP';
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

input {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP';
    font-weight: 500;
    font-size: 14px;
    padding: 18px 12px;
    line-height: 20.27px;
    min-width: 200px;
    min-height: 56px;
    border: none;
    border-radius: 8px;
    color-scheme: none;
    cursor: pointer;
}

input img {
    width: 14px;
    margin-right: 10px;
}

.inputDefault {
    border: 1px solid #828282;
    color: red
}

.inputDefault:hover {
    border: 1px solid #333333;
}

.inputDefault:focus {
    outline: none;
    border: 1px solid #2962FF;
}

.inputLabel:focus-within {
    color: #2962FF;
}