.inputContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    width: 40%;
}

.inputTitle {
    font-family: 'Ubuntu Mono';
    font-size: 12px;
    font-weight: 400;
    color: #333333;
    width: 100%;
    margin: 0;
    text-align: left;
}

input {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP';
    font-weight: 500;
    font-size: 14px;
    padding: 18px 12px;
    line-height: 20.27px;
    width: 200px;
    height: 56px;
    border: none;
    border-radius: 8px;
    color-scheme: none;
    cursor: pointer;
}

textarea {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP';
    font-weight: 500;
    font-size: 14px;
    padding: 18px 12px;
    line-height: 20.27px;
    min-width: 200px;
    min-height: 56px;
    border: none;
    border-radius: 8px;
    color-scheme: none;
    cursor: pointer;
    resize: none
}

textarea:focus {
    outline: none;
}

input:focus {
    outline: none;
}

input img {
    width: 14px;
    margin-right: 10px;
}

.inputDefault {
    outline: 1px solid #828282;
}

.inputDefault:hover {
    outline: 1px solid #333333;
}

.inputDefault:focus {
    outline: 1px solid #2962FF;
}

.labelDefault {
    width: 100%;
}

.labelDefault:focus-within {
    color: #2962FF;
}

.inputError, .inputError:focus {
    outline: 1px solid #D32F2F;
}

.inputError:hover {
    outline: 1px solid #333333;
}

.labelError {
    color: #D32F2F;
}

.labelError:focus-within {
    color: #D32F2F;
}

.labelError:hover .labelP, .labelError:hover .underLabelP  {
    color: #333333
}

.labelFullWidth {
    width: 100%;
}

.fullWidthContainer {
    width: 100%;
}